Healthcare Demo Bot.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        -80
      ],
      "id": "5bf3257f-5b6e-4d31-b804-890dd9b324c5",
      "name": "Telegram Trigger",
      "webhookId": "30c5dbb0-c53a-4883-81a7-daa8d56c2a42",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['user prompt'] }}",
        "options": {
          "systemMessage": "You are a healthcare assistant for rural India. \nAnswer clearly, in the same language as the user. \nKeep answers short, simple, and easy to understand. \nProvide information on symptoms, vaccinations, and common health questions. \nIf you don’t know, say: “I don’t know, please consult a doctor.”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        -64
      ],
      "id": "ea49bc85-9f0f-4b7e-8c0c-18edbee5f648",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "id": "3ac4c228-8393-45ce-bfad-4f1b1ccda27f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "J9ZluRxBDKCDAgRX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.chat_id}}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        128
      ],
      "id": "620b5549-b251-4d6a-89c8-230ee5aa5e6c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        -64
      ],
      "id": "3999e8a2-b276-4110-ab3b-a5311eeae802",
      "name": "Send a text message",
      "webhookId": "82255eaa-394a-403c-a94d-1477875a401e",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8a81cf1-2c4e-40b0-b204-5736ec906028",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        -80
      ],
      "id": "7bb5143d-6952-43bc-b27a-e3c5be8b7be5",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "download": "={{ true }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -752,
        -304
      ],
      "id": "16041c92-0a27-4613-9a9a-a9c903d09b3d",
      "name": "Get a file",
      "webhookId": "e8001308-bedc-471e-b120-03f27e529220",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lemonfox.ai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        -304
      ],
      "id": "7ec5dadf-1dc1-4d27-bcd5-bf79013b7326",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "keIubmaS85FTEOoT",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "164877ea-e789-4577-b700-5e0f6d0e8fad",
              "name": "user prompt",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b8ba4b2c-7c2d-402b-ad2d-d2ab7e328ec9",
              "name": "is voice ",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -304
      ],
      "id": "ca2d0885-e38a-414c-b721-95a5fcb2a31c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a628903c-6ba1-446e-b4d4-81e85367c7b6",
              "name": "user prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "b3d4c5da-4948-4d68-bf38-fca656f665a5",
              "name": "is voice",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -64
      ],
      "id": "122e17b1-aad2-4b08-8455-f87b82ab5595",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['user prompt'] }}",
        "options": {
          "systemMessage": "You are a healthcare assistant for rural India. \nAnswer clearly, in the same language as the user. \nKeep answers short, simple, and easy to understand. \nProvide information on symptoms, vaccinations, and common health questions. \nIf you don’t know, say: “I don’t know, please consult a doctor.”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        -304
      ],
      "id": "68f08ad8-7804-41be-b7d5-33286f432d52",
      "name": "AI Agent1",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        -496
      ],
      "id": "751db20a-e6bb-47e0-bf07-37ed125e9932",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "J9ZluRxBDKCDAgRX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.chat_id}}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        -496
      ],
      "id": "7b690432-a235-4bb1-9a61-a5ea34921325",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -496
      ],
      "id": "ce927a48-752f-49e9-b3d5-883982bd576b",
      "name": "Send a text message1",
      "webhookId": "82255eaa-394a-403c-a94d-1477875a401e",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lemonfox.ai/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -304
      ],
      "id": "a89e4ed2-b9a5-4d69-958a-86bc8a061ad6",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "keIubmaS85FTEOoT",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -304
      ],
      "id": "e19b8ef8-4653-48e1-a2f0-a4232a811427",
      "name": "Send an audio file",
      "webhookId": "ff408119-c17a-4012-ad7d-1d062cb557fc",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "537e3d8c-7a5e-44cb-9608-85a0b928ca84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ce8e140d7cec9d027fc86e855976ea867b2359147682a5ef980c13bfc25a9b3"
  },
  "id": "lKvi5wkBoA6wkdhJ",
  "tags": []
}