health voice assitant.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -80
      ],
      "id": "5bf3257f-5b6e-4d31-b804-890dd9b324c5",
      "name": "Telegram Trigger",
      "webhookId": "30c5dbb0-c53a-4883-81a7-daa8d56c2a42",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['user prompt'] }}",
        "options": {
          "systemMessage": "You are a healthcare assistant for rural India. \nAnswer clearly, in the same language as the user. \nKeep answers short, simple, and easy to understand. \nProvide information on symptoms, vaccinations, and common health questions. \nIf you don’t know, say: “I don’t know, please consult a doctor.”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        -176
      ],
      "id": "ea49bc85-9f0f-4b7e-8c0c-18edbee5f648",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        48
      ],
      "id": "3ac4c228-8393-45ce-bfad-4f1b1ccda27f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "J9ZluRxBDKCDAgRX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.chat_id}}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        496,
        48
      ],
      "id": "620b5549-b251-4d6a-89c8-230ee5aa5e6c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -176
      ],
      "id": "3999e8a2-b276-4110-ab3b-a5311eeae802",
      "name": "Send a text message",
      "webhookId": "82255eaa-394a-403c-a94d-1477875a401e",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8a81cf1-2c4e-40b0-b204-5736ec906028",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        -80
      ],
      "id": "7bb5143d-6952-43bc-b27a-e3c5be8b7be5",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "download": "={{ true }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        -304
      ],
      "id": "16041c92-0a27-4613-9a9a-a9c903d09b3d",
      "name": "Get a file",
      "webhookId": "e8001308-bedc-471e-b120-03f27e529220",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.lemonfox.ai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -304
      ],
      "id": "7ec5dadf-1dc1-4d27-bcd5-bf79013b7326",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "keIubmaS85FTEOoT",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d87d723-dca1-4196-a5f4-ebf6758d2b46",
              "name": "user prompt",
              "value": "={{$json.message?.text || $json.text}}",
              "type": "string"
            },
            {
              "id": "8a5ee593-88eb-4035-9b55-849f6d1f1a9e",
              "name": "chat_id",
              "value": "={{$json.message?.chat?.id || 1896278117}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -176
      ],
      "id": "db2224c3-83be-4e1e-ab92-f8e140f91879",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -176
      ],
      "id": "18bebc1b-6fd2-420f-b816-2cca0f954e99",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75cb2f2e-097a-4318-88f9-40317f6d0ea0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ce8e140d7cec9d027fc86e855976ea867b2359147682a5ef980c13bfc25a9b3"
  },
  "id": "lKvi5wkBoA6wkdhJ",
  "tags": []
}