my_workflow.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -256,
        -48
      ],
      "id": "0594fce8-669e-4cbb-9116-29d8965702d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        160
      ],
      "id": "d7ff819b-7952-4317-b9cf-21d416a4612d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "en.indian#holiday@group.v.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Holidays in India"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMax": "={{ $now.plus({ week : 40 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -96,
        160
      ],
      "id": "d9def5eb-30b7-4aed-8bab-612c63a53158",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zXdzLlMkv7t0Mxug",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        160
      ],
      "id": "bcf139bf-ea74-4030-9f11-3eea7e0a2938",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "J9ZluRxBDKCDAgRX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        -48
      ],
      "id": "124d6e61-633f-4381-ae95-943746039e7a",
      "name": "Telegram Trigger",
      "webhookId": "01ab9b43-4bd9-4db4-bae9-8d5ed4b34344",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1896278117",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -48
      ],
      "id": "d275d3ef-fba2-456c-91e5-2c96b20a60a5",
      "name": "Send a text message",
      "webhookId": "4dfae95a-474b-4235-9d1a-a3c5458d9c04",
      "credentials": {
        "telegramApi": {
          "id": "wSB8aQPQuo54oQuy",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff216922-ff5d-4685-aece-882fbbe53e33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ce8e140d7cec9d027fc86e855976ea867b2359147682a5ef980c13bfc25a9b3"
  },
  "id": "vVeFREKoQ1tIPXNq",
  "tags": []
}